<p id="notice"><%= notice %></p>

<h1>Phase Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phase_categories.each do |phase_category| %>
      <tr>
        <td><%= link_to 'Show', phase_category %></td>
        <td><%= link_to 'Edit', edit_phase_category_path(phase_category) %></td>
        <td><%= link_to 'Destroy', phase_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phase Category', new_phase_category_path %>
